@charset "utf-8";
@import url("shop.css");

#container {
    width: 1450px;
    height: auto;
    margin-left: 100px;
    overflow: hidden;
    margin-top: 200px;
}
#main_img {
    float: left;
    margin-top: 100px;
    margin-left: 200px;
}
#img {
    float: left;
    margin-left: -800px;
    margin-top: 920px;
    overflow: hidden;
}
#img div {
    float: left;
}
#img_2 {
    margin-left: 40px;
}
#img_3 {
    margin-left: 40px;
}
#item_write {
    overflow: hidden;
    float: left;
    width: 400px;
    height: 800px;
    margin-left: 50px;
    margin-top: 25px;
}
.name {
    float: left;
    font-size: 25px;
    color: gray;
    margin-left: 160px;
    margin-top: 200px;
}
.details {
    float: left;
    margin-top: 20px;
    margin-left: 160px;
    font-size: 15px;
}
#price {
    margin-top: 450px;
    margin-left: 160px;
    color: indianred;
    font-size: 25px;
}
#express_dt {
    margin-left: 160px;
    margin-top: 20px;
    font-size: 15px;
}
#iceBag {
    margin-left: 160px;
    margin-top: 20px;
    font-size: 15px;
}
#check {
    margin-left: 160px;
    margin-top: 60px;
    overflow: hidden;
}
.text {
	margin-left: 160px;
    margin-top: 60px;
	font-size: 15px;
}

#buy a{
    float: left;
    font-size: 30px;
    border: 1px solid #ff9999;
    background: #ff9999;
    color: #fffff5;
    padding: 6px 20px;
}
#cart a{
    float: left;
    font-size: 30px;
    border: 1px solid gray;
    background: #fffff5;
    color: gray;
    padding: 6px 10px;
    margin-left: 33px;
}
#buy a:hover {
    background: #fffff5;
    color: gray;
}
#cart a:hover {
    background: #ff9999;
    color: #fffff5;
}

#item_info_write {
    width: 1000px;
    height: auto;
    float: left;
    margin-top: 120px;
    margin-left: 855px;
    overflow: hidden;
    position: absolute;
}
#item_info_write  {
    float: left;
    font-size: 20px;
    margin-left: 600px;
    text-decoration: none;
    color: black;
}
#item_info_write a {
    margin-left: 100px;
    color: gray;
}
#item_info_write a:hover {
    color: purple;
    border-bottom: 1px dashed purple;
    font-weight: bold;
}
#item_info_write a:first-child {
    margin-left: 50px;
}
#bar1 {
    border-bottom: 1px solid gray;
    margin-top: 160px;
}
#item_detail_img {
    width: 1700px;
    height: auto;
    overflow: hidden;
}
#item_detail_img img {
    float: left;
    margin-left: 330px;
    margin-top: 50px;
}
#item_relative {
    width: 1500px;
    height: auto;
    margin-left: 350px;
    overflow: hidden;
    margin-bottom: 0px;
}
#item_relative a {
    float: left;
    margin-left: 50px;
    margin-top: 50px;
}
#item_relative a:first-child {
    margin-left: 0px;
}
#bar2 {
    border-top: 1px solid gray;
    margin-top: 50px;
}
#latter_part {
    width: 1250px;
    height: 500px;
    border: 1px solid gray;
    margin-left: 330px;
    margin-top: 50px;
}
#qa {
    width: 1250px;
    height: 500px;
    border: 1px solid gray;
    margin-left: 330px;
    margin-top: 50px;
}
a.top-button img {
  position: fixed;
  right: 200px;
  bottom: 50px;
  display: none;
}
.top-button img { width: 50px; height: 50px; border-top-left-radius: 5px; border-top-right-radius: 5px; background-color: #FFFFF5; color: #212121; opacity: 1; bottom: 0px; position: fixed; right: 10px; text-align: center; line-height: 50px; display: none;  cursor: pointer;} 
#amount {
    margin-left: 160px;
    margin-top: 20px;
    font-size: 15px;
}
select {
    background: #fffff5;
}
#item_info_write.sticky {
    position: fixed;
    top: 50px;
    background: white;
    opacity: 0.8;
    width: 660px;
    border: 1px solid white;
    border-radius: 0 0 15px 15px;
}