@charset "utf-8";
@import url("shop.css");


p {
    margin-top: -10px;
}
strong {
    font-size: 25px;
}
center table{
    margin-top: 50px;
    color: black;
}
#qna_logo {
    margin-left: 880px;
    margin-top: 200px;
}
font {
    color: gray;
    font-weight: bold;
    font-size: 20px;
    margin-left: 465px;
}
.input {
    margin-left: 20px;
}
table tr td {
    font-weight: bold;
}
table tr:nth-child(2n) {
    color: white;
}

input {
    border: 1px solid gray;
}
textarea {
    border: 1px solid gray;
}
table a {
    background: #f0616e;
    color: white;
    border: 1px solid #f0616e;
    padding: 10px 30px;
    border-radius: 25px;
}
table a:hover {
    background: white;
    border: 1px solid gray;
    color: gray;
}