@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}
html, body {
    width: 100%;
    height: 100%;
    background: #fffff5;
}
header {
    background: white;
    opacity: 0.8;
    width: 1920px;
    height: 170px;
}
#menu {
    overflow: hidden;
    float: left;
    margin-left: 200px;
    margin-top: 40px;
}
#menu a {
    float: left;
    margin-left: 50px;
    text-decoration: none;
    font-size: 18px;
    color: black;
}
#logo {
    width: 400px;
    height: 139px;
    float: left;
    margin-left: 250px;
    margin-top: 6px;
}
#login_cart {
    overflow: hidden;
    float: left;
    margin-left: 210px;
    margin-top: 40px;
}
#login_cart a {
    float: left;
    margin-left: 50px;
    text-decoration: none;
    color: black;
    font-size: 18px;
}